/* General fixes */
body {
    font-family: "Work Sans", sans-serif; 
    /*background: #ce9bec;*/
    background-image: url(images/freepik__background__69714.png); /*Designed by Freepik*/
    background-size: cover;
    background-position: center;  
     
}

h1 {
    color: hsl(292deg 80.43% 10%);
    font-weight: 700;
    text-align: center; /* Centers the header */
    margin-right: 45%;  /* Adjust this to move the header to the left */
    position: relative;
    top: 16px;
}



/* Accordion container */
.container {
    background-color: aliceblue;
    max-width: 564px;
    margin: 13% auto 20px;
    border-radius: 10px;
    padding-bottom: 33px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Adds slight shadow */
}

/* Icon positioning */
.icon-star {
    padding: 0.5em;
    position: relative;
    left: 5%;
    margin-top: -58px;
    width: 50px;
    height: 50px;
}

/* FAQ Styling */
.text-area {
    padding: 0 20px 0 20px;
}

hr {
    border: dotted hsl(292, 42%, 14%) 6px;
    border-bottom: none;
    width: 50%;
    margin: 20px auto;
}

/* Question styling */
    /* Button styling */
button {
    border: none;
    background-color: rgb(173 209 217);
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-link {
    text-decoration: none;
    color: rgb(3, 0, 0);
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-left: -1px;
    width: 100%;
    margin-left: -13px;
}

.btn-link:hover {
    box-shadow: none;
    color: #a82aef;
}

    /* Icon Visibility */
.icon-toggle {
    display: inline-block;
}

/*
.icon-plus, .icon-minus {
    width: 24px;
    height: 24px;
}
*/

.icon-minus {
    display: none;
}

.collapsed .icon-plus {
    display: inline;
}

.collapsed .icon-minus {
    display: none;
}

.btn-link:not(.collapsed) .icon-plus {
    display: none;
}

.btn-link:not(.collapsed) .icon-minus {
    display: inline;
}

    /* Special styling for Heading Four icons */
.question-1 .icon-toggle{
    position: relative;
    left: 23px;
}

.question-2 .icon-toggle{
    position: relative;
    left: 125px;
}

.question-3 .icon-toggle{
    position: relative;
    left: 19px;
}

.question-4 .icon-toggle {
    position: relative;
    top: -12px; /* Adjust this to move the icon separately from the others */
}

.question-1 .icon-minus {
    position: relative;
    left: -23px;
}

.question-2 .icon-minus {
    position: relative;
    left: -124px;
}

.question-3 .icon-minus {
    position: relative;
    left: -18px;
}
    /*card-body styling */
.card-body {
    color: hsl(292, 16%, 49%);
    font-weight: 400;
}


/* Footer section */
footer.attribution {
    color: ghostwhite;
    width: 100%;
    padding: 20px;
    margin-top: 42px;
    text-align: center;
}


/* Mobile styles */
@media only screen and (max-width: 768px) {
    .attribution {
        display: none;
    }

    .container {
        max-width: 91%;
    }

    .text-area {
        padding: 5px;
    }


    .question-2 .icon-toggle {
        position: relative;
        left: 54px;
    }

    .question-3 .icon-toggle {
        position: relative;
        left: 23px;
    }

    .question-4 .icon-toggle {
        position: relative;
        top: -12px;
        left: 25px;
    }

    .question-1 .icon-minus {
        position: relative;
        left: 0px;
    }

    .question-2 .icon-minus {
        position: relative;
        left: -28px;
    }

    .question-3 .icon-minus {
        position: relative;
        left: -1px;
    }

    .icon-star {
        padding: 0.5em;
        position: relative;
        left: 3%;
        margin-top: -44px;
        width: 44px;
        height: 44px;
    }

    h1 {
        color: hsl(292deg 80.43% 10%);
        margin-right: 36%;
    }
}
